export(CpG_in_CGI)
export(boxed_heatmap)
export(coord_sort)
export(cor_permutationTest)
export(cor_resamplingStats)
export(find_CpG)
export(max_normalization)
export(meMultiplex)
export(meMultiplex_communities)
export(meMultiplex_to_multinet)
export(meNet_CGI)
export(meNet_cor)
export(meNet_gene)
export(meNet_singleCGI)
export(meNet_singleGene)
export(neg_max_normalization)
export(plot_multiplex)
import(BSgenome.Hsapiens.UCSC.hg19)
import(graphics)
import(igraph)
importFrom(Rdpack,reprompt)
useDynLib(meNet, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
